In [1]:
import pandas as pd

In [2]:
headers = ['R', 'temperature', 'cough_severity', 'difficult_breathing', 'exposure_risk', 'days_since_onset']

In [3]:
rows = [
    (1, 101.2, 3, None, 1, 15), 
    (1, None, 1, 0, 1, 7), 
    (0, 98.5, 1, 0, 1, 0), 
    (1, 99.0, 1, 0, 1, None), 
    (0, 98.5, None, 0, 0, 21), 
    (1, 99.0, 1, 0, 1, 10), 
    (0, None, 1, 0, 1, 5), 
    (0, 98.2, 2, 1, None, 4)]

In [4]:
df = pd.DataFrame(rows, columns=headers)

In [5]:
df

,R,temperature,cough_severity,difficult_breathing,exposure_risk,days_since_onset
0,1,101.2,3.0,NaN,1.0,15.0
1,1,NaN,1.0,0.0,1.0,7.0
2,0,98.5,1.0,0.0,1.0,0.0
3,1,99.0,1.0,0.0,1.0,NaN
4,0,98.5,NaN,0.0,0.0,21.0
5,1,99.0,1.0,0.0,1.0,10.0
6,0,NaN,1.0,0.0,1.0,5.0
7,0,98.2,2.0,1.0,NaN,4.0

In [12]:
#https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html

In [10]:
df.dropna()

,R,temperature,cough_severity,difficult_breathing,exposure_risk,days_since_onset
2,0,98.5,1.0,0.0,1.0,0.0
5,1,99.0,1.0,0.0,1.0,10.0

In [11]:
df.fillna(0)

,R,temperature,cough_severity,difficult_breathing,exposure_risk,days_since_onset
0,1,101.2,3.0,0.0,1.0,15.0
1,1,0.0,1.0,0.0,1.0,7.0
2,0,98.5,1.0,0.0,1.0,0.0
3,1,99.0,1.0,0.0,1.0,0.0
4,0,98.5,0.0,0.0,0.0,21.0
5,1,99.0,1.0,0.0,1.0,10.0
6,0,0.0,1.0,0.0,1.0,5.0
7,0,98.2,2.0,1.0,0.0,4.0

In [45]:
df.fillna(df.mean()).round(2)

,R,temperature,cough_severity,difficult_breathing,exposure_risk,days_since_onset
0,1,101.20,3.00,0.14,1.00,15.00
1,1,99.07,1.00,0.00,1.00,7.00
2,0,98.50,1.00,0.00,1.00,0.00
3,1,99.00,1.00,0.00,1.00,8.86
4,0,98.50,1.43,0.00,0.00,21.00
5,1,99.00,1.00,0.00,1.00,10.00
6,0,99.07,1.00,0.00,1.00,5.00
7,0,98.20,2.00,1.00,0.86,4.00

In [49]:
# interpolate with back fill
df.interpolate().bfill()

,R,temperature,cough_severity,difficult_breathing,exposure_risk,days_since_onset
0,1,101.20,3.0,0.0,1.0,15.0
1,1,99.85,1.0,0.0,1.0,7.0
2,0,98.50,1.0,0.0,1.0,0.0
3,1,99.00,1.0,0.0,1.0,10.5
4,0,98.50,1.0,0.0,0.0,21.0
5,1,99.00,1.0,0.0,1.0,10.0
6,0,98.60,1.0,0.0,1.0,5.0
7,0,98.20,2.0,1.0,1.0,4.0

In [47]:
#https://scikit-learn.org/stable/modules/impute.html#impute

In [48]:
from sklearn.impute import SimpleImputer
import numpy as np
nan = np.nan

imp = SimpleImputer(missing_values=np.nan, strategy='mean')

imp.fit(df)

pd.DataFrame(imp.transform(df), columns=headers).round(2)

,R,temperature,cough_severity,difficult_breathing,exposure_risk,days_since_onset
0,1.0,101.20,3.00,0.14,1.00,15.00
1,1.0,99.07,1.00,0.00,1.00,7.00
2,0.0,98.50,1.00,0.00,1.00,0.00
3,1.0,99.00,1.00,0.00,1.00,8.86
4,0.0,98.50,1.43,0.00,0.00,21.00
5,1.0,99.00,1.00,0.00,1.00,10.00
6,0.0,99.07,1.00,0.00,1.00,5.00
7,0.0,98.20,2.00,1.00,0.86,4.00

In [50]:
from sklearn.impute import KNNImputer

imputer = KNNImputer(n_neighbors=2, weights="uniform")
pd.DataFrame(imputer.fit_transform(df), columns=headers)

,R,temperature,cough_severity,difficult_breathing,exposure_risk,days_since_onset
0,1.0,101.2,3.0,0.0,1.0,15.0
1,1.0,99.0,1.0,0.0,1.0,7.0
2,0.0,98.5,1.0,0.0,1.0,0.0
3,1.0,99.0,1.0,0.0,1.0,8.5
4,0.0,98.5,2.0,0.0,0.0,21.0
5,1.0,99.0,1.0,0.0,1.0,10.0
6,0.0,98.6,1.0,0.0,1.0,5.0
7,0.0,98.2,2.0,1.0,1.0,4.0